<html>
<head>
  
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<div class="about-header">
  
<h3>This is the about page!</h3>

</div>

<%= link_to 'Home', root_path, class: "nav-link" %>

</html>